<div class="card">
  <div class="card-body">
    <h5 class="card-title">Compose a new note</h5>
    <form>
    <div class="form-group">
        <input class="form-control" id="title" placeholder="Enter a title.">
    </div>
    <div class="form-group">
        <textarea class="form-control" id="content" rows="5" placeholder="Type in your note."></textarea>
    </div>
    <button id="submit-btn" class="btn btn-outline-primary mb-2 pull-right">Save note</button>
    </form>
  </div>
</div>

<script> 

$( "form" ).on( "submit", function( event ) {
    event.preventDefault();

    var title = $("#title").val();
    var content = $("#content").val();
    
    var obj = new Object();
    obj.title = title;
    obj.content = content;  
    var data = JSON.stringify(obj);

    $.ajax({
        url:"/api/new",
        type:"POST",
        data:data,
        contentType:"application/json; charset=utf-8",
        dataType:"json",
        success: function(data, textStatus, jqXHR){
            window.location.href = jqXHR.getResponseHeader('location');
        }
    })



});


</script> 