
@{
    var note = ViewData["Note"] as ModernNotes.Models.Note;
    ViewData["Title"] = note.Title;
}

<div class="card">
  <div class="card-header">
   @note.Title
   <div class="float-right">
       <a href="/edit/@note.Id">Edit</a> | 
       <a id="delete" href="#">Delete</a>
   </div>
  </div>
  <div class="card-body">
      <p>@note.Content</p>
  </div>
    <div class="card-footer">
     <small class="text-muted">Last updated 3 mins ago</small>
    </div>
</div>
<script>
    $("#delete").click(function(){
        event.preventDefault();
        $.ajax({
            url:"/api/delete/@note.Id",
            type:"POST",
            success: function(data, textStatus, jqXHR){
                window.location.href = "/";
            }
        })
    });
</script>