
@{
    ViewData["Title"] = "Edit Note";
    var note = ViewData["Note"] as ModernNotes.Models.Note;
}

<div class="card">
  <div class="card-body">
    <form>
    <div class="form-group">
        <input class="form-control" id="title" value="@note.Title">
    </div>
    <div class="form-group">
        <textarea class="form-control" id="content">@note.Content</textarea>
    </div>
    <button type="submit" class="btn btn-outline-primary mb-2">Save note</button>
    <button type="delete" class="btn btn-outline-danger mb-2 pull-right">Delete note</button>
  </div>
</div>

